<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/css/main.css">
  <title>News. Lesson-4</title>
</head>
<body>
  <div class="news">
    <form action="/news" method="post" name="news">
      <label>Категория: <select name="category" id="category">
        {{#each categoriesList}}
          <option value="{{this}}" {{{isSelected ../cookies.category this}}}>
            {{this}}
          </option>>
        {{/each}}
      </select></label><br>
      <label><input type="number" name="newsAmount" id="newsAmount" value="{{cookies.newsAmount}}"></label><br>
      <input type="submit" value="Обновить">
    </form>
    {{#each news}}
      <div class="news-item">
        <div class="news-item__date">{{date}}</div>
        <div class="news-item__title">{{title}}</div>
        <div class="news-item__text">{{text}} <a href="{{link}}" target="_blank" rel="noopener noreferrer">Подробнее...</a></div>
      </div>
    {{/each}}
  </div>
</body>
</html>