<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <link rel="stylesheet" href="styles/css/main.css"> --}}
  <title>Cars. Lesson-5</title>
</head>

<body>
  Cars from index.hbs
  <div class="cars">

    {{#each cars}}
    <div class="cars-item">
      <table>
        <tr>
          <td>{{id}}</td>
          <td>{{mark}}</td>
          <td>{{model}}</td>
          <td>{{year}}</td>
          <td>{{price}}</td>
        </tr>
      </table>

      <div class="cars-item__date">{{date}}</div>
      <div class="cars-item__title">{{title}}</div>
      <div class="cars-item__text">{{text}} <a href="{{link}}" target="_blank"
          rel="noopener noreferrer">Подробнее...</a></div>
    </div>
    {{/each}}

  </div>
</body>

</html>